<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="41187RagazzoGiapponese.BuggyCalculator" Publisher="CN=5EAE0C02-C998-437D-BA51-7D75E6521CDF" Version="2015.1128.2329.611" />
  <mp:PhoneIdentity PhoneProductId="78987421-dda0-4fcf-87a0-dd7485330ebb" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:ManifestDisplayName</DisplayName>
    <PublisherDisplayName>Ragazzo Giapponese</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BuggyCalculator.WindowsPhone.App">
      <m3:VisualElements DisplayName="ms-resource:ManifestDisplayName" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\AppListLogo.png" Description="ms-resource:ManifestDescription" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets/Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen BackgroundColor="transparent" Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>